.cerchio {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    text-align-last: center;
    background-color: #e9e8ed;

}

.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-blu{
    position: absolute;
    top: 14px;
    right: 80px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #7450fc;  
    
}
.p-verde{
    position: absolute;
    bottom: 16px;
    right: 31px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: green;  
}
.sfondo {
    margin:0;
    background-color: #7550ff;
}
.col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.colore{
    background-color: #ffeeda;
    padding-top: 8px;;
}  
.vantaggi h5{
    margin: 0px;
}  
.vantaggi p{
    margin: 0px;
    color: grey;
}


@media  (max-width: 430px) {
    .navbar-toggler {
        order: 3;
    }


    .d-flex {
        
        position: relative;
        
        gap: 5px;
    }
   .p-blu{
     top: 1px;
    right: 75%;
   }
   .p-verde{
    bottom: 2px;
    right: 43%;
   }
   .button{
    margin-right: 0;
    position: static;
   }
}

@media screen and (min-width: 768px) {
    .d-flex {
        margin-right: 1%;
         gap: 5px;
    }
    .testo{
        margin-top: 8%;
    }
    .ordine{order:3}
    .vantaggi{
        flex-wrap: nowrap;
        justify-content: center;
    }
}